:root {
  --primary-color: #28B779;
  --background-color: #0d1117;
  --text-color: #FFFFFF;
  --custom-white: rgb(249, 251, 255);
}

* {
  background-color: var(--background-color);
}

span {
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.circle-avatar {
  background-color: #28B779;
}

.section {
  padding-top: 200px;
}

header {
  font-size: 20px;
}

header > a {
  font-size: 20px;
}
